body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    text-align: center;
}

.sketchpad-square {
    flex: 1 0 auto;
    height: auto;
    transition: 0.1s;
}

.selected {
    transform: scale(1.2);
    box-shadow: 2px 2px 16px -2px #121212;
}

.sketchpad-square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.sketchpad-row {
    display: inline-flex;
    flex: 1;
}

.sketchpad {
    display: inline-flex;
    flex-direction: column;
    flex: 3 0 auto;
    height: auto;
    box-shadow: 2px 2px 16px -2px #808080;
}

.info {
    flex: 2;
}

.empty {
    flex: 2;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 0px 5vw;
}

#color-picker {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}